@{
    ViewBag.Title = "About me";
}

<h1>Andrew Harcourt</h1>

<p class="lead">
    <img alt="Andrew Harcourt" style="float: right;" src="https://gravatar.com/avatar/26c73be81cda35268fb6f8aeb3f3664e?s=200" />
    Andrew Harcourt is a Principal Consultant at ThoughtWorks.
</p>

<p>
    He is a solutions architect and software engineer with extensive experience in large-scale, high-load, geographically-distributed
    systems. He specialises in project rescue, governance and development methodologies.
</p>

<p>
    Andrew's main areas of interest are domain-driven design, event sourcing, massively-scalable service architectures and cloud
    computing. Andrew's mother wrote COBOL on punch cards and he has been coding in one form or another since he was five years old.
</p>

