@{
    ViewBag.Title = "Building";
}

<h1>Build all the things!</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Let's have a look at TeamCity</h2>
        <ul>
            <li>VCS root</li>
            <li>Templated builds</li>
            <li>Root-level parameters</li>
            <li>Write-Host is your friend</li>
        </ul>
    </div>
</div>