@{
    ViewBag.Title = "Cleanup";
}

<h1>The unappreciated janitor...</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Retention policies</h2>
        <ul>
            <li>TeamCity has these</li>
            <li>Octopus has these</li>
        </ul>
    </div>

    <div class="col-md-6">
        <h2>Orphaned deployments</h2>
        <ul>
            <li>Query the Octopus API</li>
            <li>Remove sites from the (cattle!) deployment target</li>
            <li>Remove SQL databases, DocumentDB records etc.</li>
        </ul>
    </div>

</div>