@{
    ViewBag.Title = "Configuration";
}

<h1>Configure all the things!</h1>

<div class="row">
    <div class="col-md-4">
        <h2>ConfigInjector</h2>
        <ul>
            <li>Tiny types for configuration settings</li>
            <li>Transformable by Octopus</li>
            <li>Overrideable via environment variables</li>
            <li>Useful for feature toggling</li>
            <li>Makes classes easier to test</li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2>In our application</h2>
        <ul>
            <li>Use constructor injection for settings</li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2>In our test harness</h2>
        <ul>
            <li>Use DefaultSettingsReader.Get&lt;SomeSetting&gt; for settings</li>
            <li>E.g. point integration tests at DefaultSettingsReader.Get&lt;WebSiteBaseUrl&gt;</li>
        </ul>
    </div>

</div>