@{
    ViewBag.Title = "Cool Rap";
}
<div class="jumbotron">
    <h2>
        "Look, if you had, one shot, or one opportunity,
    </h2>
    <h2>
        To seize every build you ever wanted. 
    </h2>
    <h2>In one moment would you capture it, or just let it slip? </h2>
    <h2>
        Yo."
    </h2>

    <h3><a href="https://au.linkedin.com/in/damiangrasso">Damian Grasso's LinkedIn</a></h3>
</div>