@{
    ViewBag.Title = "How to play";
}

<h1>How to play</h1>

<div class="row">
    <div class="col-md-6">
        <h2>Send me a pull request</h2>
        <ul>
            <li><a href="https://github.com/uglybugger/DDDBrisbane2016">github.com/uglybugger/DDDBrisbane2016</a></li>
            <li><a href="http://dddbrisbane2016.ci.demo.uglybugger.org/">dddbrisbane2016.ci.demo.uglybugger.org/</a></li>
            <li><strong><a href="http://your-branch-here.dddbrisbane2016.ci.demo.uglybugger.org/">your-branch-here.dddbrisbane2016.ci.demo.uglybugger.org/</a></strong></li>
            <li><a href="http://dddbrisbane2016.staging.demo.uglybugger.org/">dddbrisbane2016.staging.demo.uglybugger.org/</a></li>
            <li><a href="http://dddbrisbane2016.live.demo.uglybugger.org/">dddbrisbane2016.live.demo.uglybugger.org/</a></li>
        </ul>

    </div>

    <div class="col-md-6">
        <h2>Ground rules</h2>
        <p>
            <ul>
                <li>Please don't be offensive</li>
                <li>Please don't be destructive</li>
                <li>Please poke fun - but gently</li>
                <li>I am in your hands</li>
            </ul>
        </p>
    </div>
</div>
