@{
    ViewBag.Title = "Style me";
}

<h1>This theme is a bit bland, don't you think?</h1>

<div class="row">
    <div class="col-md-12">
        I wonder if there's someone in the audience who knows a bit of Bootstrap...
    </div>
</div>