@{
    ViewBag.Title = "Testing";
}

<h1>Test all the things!</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Convention and unit tests</h2>
        <ul>
            <li>Can be run early in the pipeline</li>
            <li>Don't need to be deployed anywhere</li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2>Integration tests</h2>
        <ul>
            <li>Potentially need a deployment target</li>
            <li>Should be run later in the pipeline</li>
            <li>Will require configuration trickery</li>
            <li><code>DefaultSettingsReader.Get&lt;SomeSetting&gt;</code></li>
        </ul>
    </div>

    <div class="col-md-4">
        <h2>A closer look at TeamCity</h2>
        <ul>
            <li>The <code>WebSiteHostName</code> and <code>WebSiteBaseUrl</code> variables</li>
            <li>Creating Octopus channels</li>
            <li>Environment variable overrides</li>
        </ul>
    </div>
</div>