@{
    ViewBag.Title = "Thank you";
}

<div class="jumbotron" style="text-align: center;">
    <h1>Thank you</h1>
    <p class="lead">If this page is still intact at the end of this presentation then we'll call that a win.</p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <img alt="Andrew Harcourt" style="float: left;" src="https://gravatar.com/avatar/26c73be81cda35268fb6f8aeb3f3664e?s=200" />
        <p>
            <strong>Andrew Harcourt</strong>
        </p>
        <p>
            <a href="http://www.uglybugger.org/">www.uglybugger.org</a>
        </p>
        <p>
            <a href="https://twitter.com/uglybugger">@@uglybugger</a>
        </p>
    </div>
    <div class="col-md-4">
    </div>
</div>