@{
    ViewBag.Title = "Welcome";
}
<div class="jumbotron">
    <h1>What on earth was I thinking?</h1>
    <h2>Some guy whose <em>entire presentation</em> is about to be owned...</h2>
    <p class="lead">
        Everyone talks about continuous delivery, and almost everyone talks about how it’s &quot;nice in theory but
        wouldn't work here because reasons.&quot;
    </p>
    <p>
        This talk is about that talk, and why that talk is wrong. Continuous delivery works - and works well, even (especially)
        for large, complex systems - but requires an engineering discipline that many organisations seem to think is beyond them.
    </p>
</div>