@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>Industrial-grade continuous delivery</h1>
    <p class="lead">
        Everyone talks about continuous delivery, and almost everyone talks about how it’s &quot;nice in theory but
        wouldn't work here because reasons.&quot;
    </p>

    <p>
        This talk is about that talk, and why that talk is wrong. Continuous delivery works - and works well, even (especially)
        for large, complex systems - but requires an engineering discipline that many organisations seem to think is beyond them.
    </p>

    <p>
        <a href="/slideshow/start" class="btn btn-primary btn-lg">Next &raquo;</a>
    </p>
</div>

