@using DDDBrisbane2016.Web.Areas.Slideshow.Controllers
@using MvcNavigationHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderBody()

<hr style="clear: both;" />

<div class="row">
    <div class="col-xs-1">
        <a id="previousButton" class="btn btn-danger" style="float: left;" href="@(Url.UrlFor<PresentController>(c => c.Previous()))">Previous</a>
    </div>
    <div class="col-xs-10">
    </div>
    <div class="col-xs-1">
        <a id="nextButton" class="btn btn-warning" style="float: right;" href="@(Url.UrlFor<PresentController>(c => c.Next()))">Next &raquo;</a>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(document).keydown(function (e) {
                switch (e.which) {
                    case 37:
                        e.preventDefault();
                        $("#previousButton")[0].click();
                        break;
                    case 39:
                        e.preventDefault();
                        $("#nextButton")[0].click();
                        break;
                    default:
                        break;
                }
            });
        });
    </script>
}
